/* Home Page */

.home-container {
  padding: 20px 0 60px;
}

.home-main-content {
  padding: 0;
}

.home-img-responsive {
  display: block;
  width: 100%;
  height: auto;
}

.home-caption {
  display: block;
  padding-top: 6px;
  color: #555;
  font-size: 12px;
  text-align: left;
}

@media (max-width: 767px) {
  .home-container {
    padding: 10px 0 40px;
  }
}
